{% load svg %}

<div class="footer">
    <a href="/" class="home-link">
        <div class="home__container">
            {% svg 'home' %}
        </div>
    </a>
    <div class="footer__pane footer__pane--previous">
        <img src="/static/img/footer.png" alt="Castaway your worries" class="footer__image">
        <div class="pane__text">
            <h3>Lipsum Ipsum</h3><br>
        </div>
    </div>
    <div class="footer__pane footer__pane--next">
        <img src="/static/img/footer.png" alt="Castaway your worries" class="footer__image">
        <div class="pane__text">
            <h3>Lipsum Ipsum</h3><br>
        </div>
    </div>
    <div class="disclaimer">
        <p class="disclaimer__text">
            All rights reserved - Tommy Collins
        </p>
    </div>
</div>