{% extends 'base.html' %}

{% block content %}
    <div class="hero"> 
        <h1 class="hero__headline">{{post.title}}</h1>
        <img src="/static/img/hero.png" alt="Castaway your worries" class="hero__image">
    </div>
	<article>
		<header class="post__header">
			<h2 class="header__title">{{post.location}}</h2>
			<p class="header__date">
				<time datetime="{{post.created|date:"c"}}">
					{{post.created|date}}
				</time>
			</p>
		</header>
		<div class="post-body">
			{{post.content|safe}}
		</div>
	</article>
	<div class="dummy-footer"></div>
	{% include "partials/article-footer.html" %}
{% endblock %}