{% load svg %}

    {% if request.path == '/' %}
        <nav class="nav nav--about" id="js-nav-container">
            <h4 class="nav__headline nav__headline--about" id="js-nav-open">About</h4>
            <img class="nav__image--about" src="{{general.about_image.url}}" alt="Hello I'm Tom!">
            <p class="nav__text--about">
                {{general.about_text}}
            </p>
            <h4 class="nav__close--about" id="js-nav-close">close</h4>
        </nav>
    {% else %}
        <nav class="nav">
            <div class="nav__wrapper">
                <a class="nav__arrow nav__arrow--left" href="{{post.get_previous_post.get_absolute_url}}">
                    {% svg 'back' %}
                </a>
                <a class="nav__headline" href="/">
                    <h4>Cast Away Your Worries</h4>
                </a>
                <a class="nav__arrow nav__arrow--right" href="{{post.get_next_post.get_absolute_url}}">
                    {% svg 'next' %}
                </a>
            </div>
        </nav>
    {% endif %}
</nav>