{% load svg %}

<div class="social__container">
    <div class="social__button social__button--facebook">
        {% svg 'facebook-logo' %}
    </div>
    <div class="social__button social__button--google">
        {% svg 'google-logo' %}
    </div>
    <div class="social__button social__button--instagram">
        {% svg 'instagram-logo' %}
    </div>
    <div class="social__button social__button--linkedin">
        {% svg 'linkedin-logo' %}
    </div>
    {% comment %}<div class="social__button social__button--snapchat">
        {% svg 'snapchat-logo' %}
    </div>{% endcomment %}
    <div class="social__button social__button--twitter">
        {% svg 'twitter-logo' %}
    </div>
    <div class="social__button social__button--youtube">
        {% svg 'youtube-logo' %}
    </div>
</div>