@import url(https://fonts.googleapis.com/css?family=Roboto|Open+Sans:200italic,300italic,200,300,500);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:200,300,500);

$font-regular: 'Roboto', serif; 
$font-standout: 'Playfair Display', serif;

$margin-normal: 40px;
$margin-large: 60px;
$margin-extra: 100px;