<!DOCTYPE html>
<html>
    <head>
    {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=1, user-scalable=yes"/>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        {% include "partials/nav.html" %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="social-bar">
            {% include "./partials/social-bar.html"%}
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    </body>
</html>